<h1>Změnit barvu</h1>
<form method="post" action="changeColorProcess">
    <label for="color">Oblíbená barva: </label>
    <input type="text" name="color" id="color"><br>
    <input type="submit" value="Změnit barvu" name="submit" class="btn btn-primary">
</form>