{{#warning}}<h1>{{warning}}</h1>{{/warning}}
{{#employees}}
<h1>Úprava karty <span class="text-uppercase">{{name}} {{surname}}</span></h1>

<form method="post">
    <table>
        <tr>
            <input type="hidden" name="employee_id" value="{{employee_id}}">
            <td><label for="name">Name: </label></td>
            <td>
                <input type="text" id="name" name="name" value="{{name}}">
                {{#errors.name}}<small class="text-danger">{{errors.name}}</small>{{/errors.name}}
            </td>
        </tr>
        <tr>
            <td><label for="surname">Surname: </label></td>
            <td>
                <input type="text" id="surname" name="surname" value="{{surname}}">
                {{#errors.surname}}<small class="text-danger">{{errors.surname}}</small>{{/errors.surname}}
            </td>
        </tr>
        <tr>
            <td><label for="job">Job: </label></td>
            <td>
                <input type="text" id="job" name="job" value="{{job}}">
                {{#errors.job}}<small class="text-danger">{{errors.job}}</small>{{/errors.job}}
            </td>
        </tr>
        <tr>
            <td><label for="wage">Wage: </label></td>
            <td><input type="number" id="wage" name="wage" value="{{wage}}"></td>
        </tr>
        <tr>
            <td><label for="room">Room Id: </label></td>
            <td><select name="room" id="room">
                {{#rooms}}
                    <option value="{{room_id}}">{{name}}</option>
                {{/rooms}}
            </select></td>
        </tr>
        <tr>
            <td><label for="login">Login: </label></td>
            <td><input type="text" id="login" name="login" value="{{login}}"></td>
        </tr>
        <tr>
            <td><label for="admin">Is Admin? </label></td>
            <td><input type="checkbox" id="admin" name="admin"></td>
        </tr>
        <tr>
            <td>
                <input type="hidden" name="action" value="{{action}}" />
                <input type="submit" value="{{action}}" class="btn btn-primary" />
            </td>
        </tr>
    </table>
</form>

<form action="changePassword" method="post">
    <input type="hidden" name="employee_id" value="{{employee_id}}">
    <input class="btn btn-secondary mt-5" type="submit" value="Resetovat heslo uživateli">
    <p class="alert alert-secondary mt-2">Heslo bude nastaveno na 'Hesl0'</p>
</form>

<form action="delete.php" method="post" class="mb-3" onsubmit="return confirm('Really delete employee?\nAction cannot be undone!')">
    <input type="hidden" name="employee_id" value="{{employee_id}}">
    <input class="btn btn-danger" type="submit" value="Odstranit zaměstnance">
</form>
{{/employees}}

<table class="table">
    <tr>
        <td colspan="2"><h3>Aktuální klíče: </h3></td>
    </tr>
    {{#activeKeys}}
    <tr>
        <td>{{room}} ({{no}})</td>
        <td>
            <form action="./removeKey.php" method="post">
                <input type="hidden" value="{{id}}" name="key">
                <input type="submit" value="Odebrat" class="btn btn-danger">
            </form></td>
    </tr>
    {{/activeKeys}}
</table>

<table class="table">
    <tr>
        <td colspan="2"><h3>Přidat klíč: </h3></td>
    </tr>
    {{#avaibleRooms}}
        <tr>
            <td>{{room_name}} ({{no}})</td>
            <td>
                <form action="./addKey.php" method="post">
                    <input type="hidden" value="{{employee}}" name="employee">
                    <input type="hidden" value="{{room}}" name="room">
                    <input type="submit" value="Přidat" class="btn btn-success">
                </form></td>
        </tr>
    {{/avaibleRooms}}
</table>