<h1>New employee</h1>
<form method="post">
    <table>
        <tr>
            <td>Name: </td>
            <td>
                <input type="text" name="name" value="{{employee.name}}">
                {{#errors.name}}<small class="text-danger">{{errors.name}}</small>{{/errors.name}}
            </td>
        </tr>
        <tr>
            <td>Surname: </td>
            <td>
                <input type="text" name="surname" value="{{employee.surname}}">
                {{#errors.surname}}<small class="text-danger">{{errors.surname}}</small>{{/errors.surname}}
            </td>
        </tr>
        <tr>
            <td>Job: </td>
            <td>
                <input type="text" name="job" value="{{employee.job}}">
                {{#errors.job}}<small class="text-danger">{{errors.job}}</small>{{/errors.job}}
            </td>
        </tr>
        <tr>
            <td>Wage: </td>
            <td><input type="number" name="wage" value="{{employee.wage}}"></td>
        </tr>
        <tr>
            <td>Room: </td>
            <td>
                <select name="room" id="room">
                    {{#rooms}}
                        <option value="{{room_id}}">{{name}}</option>
                    {{/rooms}}
                </select>
            </td>
        </tr>
        <tr>
            <td><label for="admin">Is Admin?</label></td>
            <td><input type="checkbox" name="admin"></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="{{action}}" class="btn btn-primary mt-2"></td>
            <td><input type="hidden" name="action" value="{{action}}"</td>
        </tr>
    </table>
</form>