<h1>Login</h1>
<form method="post" action="./login.php">
    <table>
        <tr>
            <td><label for="name">Jméno: </label></td>
            <td><input type="text" id="name" name="name" value="{{#name}}{{name}}{{/name}}" required></td>
        </tr><tr>
            <td><label for="password">Heslo: </label></td>
            <td><input type="password" id="password" name="password" required></td>
        </tr><tr>
            <td><input type="submit" value="Přihlásit se" name="login" class="btn btn-primary"></td>
        </tr>
    </table>
</form>
{{#warning}}
    <p class="alert alert-danger mt-2">{{warning}}</p>
{{/warning}}