<h1>Login</h1>
<form method="post">
    <table>
        <tr>
            <td><label for="name">Jméno: </label></td>
            <td><input type="text" id="name" name="name" required></td>
        </tr><tr>
            <td><label for="password">Heslo: </label></td>
            <td><input type="password" id="password" name="password" required></td>
        </tr><tr>
            <td><input type="submit" value="Přihlásit se" name="login" class="btn btn-primary"></td>
        </tr>
    </table>
</form>