<h1>Profil</h1>
<h3>Vítej uživateli <strong>{{name}}</strong>. My víme, že tvá oblíbená barva je <span style="color: coral">{{color}}</span>.</h3>
{{#admin}}<h5>Ale počkat. Ty jsi přeci admin. No to tě tu vítáme ☺</h5>{{/admin}}

<form action="./changePassword">
    <input type="submit" value="Změnit heslo" class="btn btn-primary">
</form>
<br>
<form action="./changeColor">
    <input type="submit" value="Změnit oblíbenou barvu" class="btn btn-primary">
</form>


