<h1>Profil</h1>
<h3>Vítej uživateli <strong>{{name}}</strong>.</h3>
{{#admin}}<h5>Ale počkat. Ty jsi přeci admin. No to tě tu vítáme ☺</h5>{{/admin}}

<form action="./changePassword.php">
    <input type="submit" value="Změnit heslo" class="btn btn-primary">
</form>
<br>


